@font-face {
    font-family: 'Din Condensed';
    src: url('/assets/fonts/DINCondensed-Bold.woff');
    font-weight: bold;
    font-style: normal;
}

html {
    //vuetify forces overflow-y to scroll by default, creating an empty scrollbar
    overflow-y: auto;
}

* {
    /* enable for debugging rogue css */
    // background: #000 !important;
    // color: #0f0 !important;
    // outline: solid #f00 1px !important;
}

.v-btn {
    font-family: 'DIN Condensed';
    font-size: 18px;
    letter-spacing: 2.5px;
    background-color: black;
    color: #fff;
}
